*{
    margin: 0;
}
.home{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.containerHome{
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
@media (max-width:425px){
    .home{
        display: flex;
        flex-direction: column;

    }
        .containerHome {
            display: flex;
            flex-direction: column;
            overflow: scroll;
    
        }
}